@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#ffffff;
}
#maintx { padding:0 10px; }
.sideBar { background-color: #999; }
.headTxt {
	font-family: "微軟正黑體", Verdana;
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}
.mainTable {
	font-family: "微軟正黑體", Verdana;
}

.pageTitleBig {
	font-family: "微軟正黑體", Verdana;
	font-size: 20px;
	font-weight: bold;
}

.pageTitle {
	font-family: "微軟正黑體", Verdana;
	font-size: 18px;
	font-weight: bold;
	margin:0;
}
.pageTitleBG {
	font-family: "微軟正黑體", Verdana;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 20px;
	background-image: url(../images/title_line.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}

.panTitle {
	font-family: "微軟正黑體", Verdana;
	font-size: 18px;
	font-weight: bold;
}
.panText {
	font-family: "微軟正黑體", Verdana;
	font-size: 14px;
}
.paraHead {
	font-size: 16px;
	font-weight: bold;
}
.indent {
	padding-left:2em;
}
.indent2 {
	padding-left:1.5em;
}
.line1 { line-height: 1.5em;	}

.btnMedium {
	font-family: "微軟正黑體", Verdana;
	font-size: 16px;
}