@charset "utf-8";
/* CSS Document */

.t01 {
	font-family: "新細明體";
	font-size: 12pt;
	line-height: 21pt;
	font-weight: normal;
	color: #333333;
	letter-spacing: 1.5px;
}

.t02 {
	font-family: "新細明體";
	font-size: 10pt;
	line-height: 15pt;
	font-weight: normal;
	color: #990033;
	letter-spacing: 1.5px;
}

.t011 {font-family: "新細明體";
	font-size: 12pt;
	line-height: 15pt;
	color: #333333;
	letter-spacing: 1.5pt;
}

.t011wide {font-family: "新細明體";
	font-size: 10pt;
	line-height: 28pt;
	color: #333333;
	letter-spacing: 1.5pt;
}

.t01bold {
	font-family: "新細明體";
	font-size: 11pt;
	line-height: 13.5pt;
	font-weight: bold;
	color: #333333;
	letter-spacing: 1.5px;
}

.t012 {	font-family: "新細明體";
	font-size: 11pt;
	line-height: 16pt;
	font-weight: normal;
	color: #333333;
	letter-spacing: 1.5px;
}
.t01222b {font-family: "新細明體";
	font-size: 12pt;
	font-weight: bold;
	line-height: 13.5pt;
	color: #333333;
	letter-spacing: 1.5pt;
}
.t0111 {font-family: "新細明體";
	font-size: 10pt;
	line-height: 13.5pt;
	color: #333333;
	letter-spacing: 1.5pt;
}

.t013 {	font-family: "新細明體";
	font-size: 10pt;
	line-height: 16pt;
	font-weight: normal;
	color: #336633;
	letter-spacing: 1.5px;
}

.p001 {font-family: "新細明體";
	font-size: 10pt;
	font-weight: normal;
	line-height: 13.5pt;
	color: #993333;
	letter-spacing: 1.5pt;
}

.p001b {font-family: "新細明體";
	font-size: 10pt;
	font-weight: bold;
	line-height: 13.5pt;
	color: #993333;
	letter-spacing: 1.5pt;
}

.p002 {font-family: "新細明體";
	font-size: 10pt;
	font-weight: normal;
	line-height: 13.5pt;
	color: #ff0000;
	letter-spacing: 1.5pt;
}

.p003 {font-family: "新細明體";
	font-size: 10pt;
	font-weight: normal;
	line-height: 13.5pt;
	color: #663399;
	letter-spacing: 1.5pt;
}

.p003b {font-family: "新細明體";
	font-size: 10pt;
	font-weight: bold;
	line-height: 13.5pt;
	color: #663399;
	letter-spacing: 1.5pt;
}
