<style type="text/css">
.tx1 {
	font-family:'微軟正黑體', Verdana;
	font-size:14px;
	line-height: 1.5em;
	padding-right: 2em;
}</style>
<table align="center" bgcolor="#f6ddd8" border="0" cellpadding="0" cellspacing="0" width="96%">
	<tbody>
		<tr>
			<td background="images/frame4/frame4_01.jpg" height="25" width="19">
				&nbsp;</td>
			<td background="images/frame4/frame4_02.jpg">
				&nbsp;</td>
			<td background="images/frame4/frame4_02.jpg">
				&nbsp;</td>
			<td background="images/frame4/frame4_03.jpg" width="30">
				&nbsp;</td>
		</tr>
		<tr>
			<td background="images/frame4/frame4_04.jpg">
				&nbsp;</td>
			<td colspan="2">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td align="right">
								&nbsp;</td>
							<td>
								<img height="33" src="images/about.jpg" width="171" /></td>
						</tr>
						<tr>
							<td>
								&nbsp;</td>
							<td class="tx1">
								<span>　　台中市愛心家園原名為臺中市身心障礙福利服務中心。全棟建築物於林柏榕前市長任內落成，<u>胡志強</u>前市長為打造臺中市為愛心城市，所以將中心更名為「台中市愛心家園」，希望藉由愛心家園完善、無障礙的軟硬體設施設備，提供臺中市身心障礙朋友多元的服務。</span>
								<p>
									　　經由臺中市政府公開評選後委託財團法人瑪利亞社會福利基金會經營管理，於91年9月28日正式啟用，整棟建築物有四個樓層，使用建坪為五千四百坪，目前開辦十項業務，這些服務項目含括就醫、就養、就學、就業四個領域，提供身心障礙者全方位的服務。</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td background="images/frame4/frame4_06.jpg">
				&nbsp;</td>
		</tr>
		<tr>
			<td background="images/frame4/frame4_07.jpg" height="29" width="19">
				&nbsp;</td>
			<td background="images/frame4/frame4_08.jpg">
				&nbsp;</td>
			<td background="images/frame4/frame4_08.jpg">
				&nbsp;</td>
			<td background="images/frame4/frame4_09.jpg">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
