<link href="Scripts/swipe.css" rel="stylesheet"/>
<script>var slideDir='data/doc/menupics/menu3_10/';</script>
<script src="Scripts/swipe.js"></script>
<script src="micSlider.js"></script>
<table width="90%" border="0" class="mainTable line1">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 讀書閱覽</div></td>
  </tr>   
  <tr>
    <td class="pageTitle"><img src="images/bullr.gif" width="18" height="18" /> 服務目的：</td>
  </tr>
  <tr>
    <td>
    <div id="slider" class="swipe"></div>
    <ol>
      <li>提供適當性的環境與設備，以方便身心障礙者使用閱覽空間。</li>
      <li>即時提供相關的社會福利動態與社福團體活動訊息。</li>
      <li>提供相關專業人員各項專業資訊及一般社會人士接觸身心障礙相關知識。</li>
    </ol></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullb.gif" width="18" height="18" /> 服務對象：</td>
  </tr>
  <tr>
    <td><blockquote>
      <p>身心障礙者、一般社會人士。      </p>
    </blockquote>      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullg.gif" width="18" height="18" /> 服務時間：</td>
  </tr>
  <tr>
    <td><blockquote>
    週一至週六 AM 8:00-PM 5:00。</blockquote></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullp.gif" width="18" height="18" /> 服務內容：</td>
  </tr>
  <tr>
    <td><ol>
      <li>提供閱覽空間、寬頻網路、書報雜誌等服務。</li>
      <li>圖書借閱服務。</li>
      <li>辦理各種社區親子活動、兒童學習活動等。</li>
    </ol></td>
  </tr>

</table>
