<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_4/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" />&nbsp;臨時照顧服務</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務目的：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<blockquote>
					<p>
						使身心障礙者其家屬獲得喘息機會，以紓解家庭長期照顧的壓力、強化家屬照顧意願及能力並增加身心障礙者家屬參與社會活動之機會，提昇被照顧者生活素質及維持家庭生活品質。&nbsp;</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						實際居住本市並領有身心障礙手冊之身心障礙者，經社工專業評估確實需定點式臨時照顧服務。</p>
				</blockquote>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						星期一至星期五上午8:00~下午7:00<br />
						星期六、日上午8:00~下午5:00<br />
						遇休館日不提供服務</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>
						安全照顧</li>
					<li>
						身體照顧服務</li>
					<li>
						協助生活自理能力訓練</li>
					<li>
						協助膳食：可代購外食，不協助烹飪。&nbsp;</li>
				</ol>
			</td>
		</tr>
	</tbody>
</table>