<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_6_1/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 瑪利亞社區就業中心</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務目的：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<p>
					瑪利亞社會福利基金會為使身心障礙者，能具備工作技能與提昇身心障礙者的自尊和工作權，民國89年開始承辦政府單位職業訓練，91年起更跨足承辦社區支持性就業，服務居住或想在台中區工作的身心障礙者進入競爭性就業市場。</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						15歲以上，65歲以下領有手冊之身心障礙者，經評估具有就業意願與能力，但無法於一般職場中獨立就業，需透過3個月以內深入且持續之職場支持與協助者。</p>
				</blockquote>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					週一 至 週五上午8：00 ~ 12：00下午13：00 ~ 17：00</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>
						就業機會開發，包括就業機會之環境分析、工作分析等。</li>
					<li>
						擬訂案主就業服務計畫。</li>
					<li>
						案主/工作配對檢核。</li>
					<li>
						就業前工作能力訓練所需之工作流程分析、職務分析。</li>
					<li>
						就業前工作能力訓練。</li>
					<li>
						陪同面試與職場安置。</li>
					<li>
						強化穩定就業輔導。</li>
					<li>
						轉介與連結相關資源。</li>
					<li>
						追蹤輔導，提供案主就業穩定後（一般性）或密集輔導結束後 (支持性) 至 少3個月的追蹤服務。</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td>
				<span class="pageTitle"><img height="18" src="images/bullr.gif" width="18" /> 服務方式：</span></td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						經政府單位勞工局職業重建個管員派案 &rarr; 開案晤談&rarr;媒合前諮詢 &rarr; 工作機會開發 &rarr; 面試媒合 &rarr; 工作密集輔導 &rarr; 追蹤輔導 &rarr; 結案。</p>
					<p>
						&nbsp;</p>
					<div>
						&nbsp;</div>
					<p>
						<a href="https://www.facebook.com/pages/%E7%91%AA%E5%88%A9%E4%BA%9E%E5%B0%B1%E6%A5%AD%E8%AE%9A/613041568800845?fref=ts" target="_blank"><span style="color: rgb(59, 89, 152); font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 15px; font-weight: bold; line-height: 20.7000007629395px; text-decoration: underline;">瑪利亞就業讚 &nbsp;</span></a><span style="color: rgb(59, 89, 152); font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 15px; font-weight: bold; line-height: 20.7000007629395px; text-decoration: underline;"><a href="https://www.facebook.com/pages/瑪利亞就業讚/613041568800845?fref=ts" target="_blank"><img alt="" src="/data/contents/1425451708.jpg" style="width: 157px; height: 93px;" /></a></span></p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>