<style type="text/css">
.line1 { line-height: 1.5em;
	}</style>
<table border="0" class="mainTable" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 成立緣起</div>
			</td>
		</tr>
		<tr>
			<td align="right">
				<a href="#p1">落成紀要</a> | <a href="#p2">啟用</a> | <a href="#p3">經營管理現況</a> | <a href="#p4">願景目標</a> 　　</td>
		</tr>
		<tr>
			<td>
				<table border="0" class="line1" width="100%">
					<tbody>
						<tr>
							<td class="pageTitle">
								<a id="p1" name="p1"></a><img height="18" src="images/bullr.gif" width="18" /> 落成紀要</td>
							<td>
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2">
								<img align="right" hspace="8" src="images/image002.jpg" vspace="8" /> 　　臺中市政府為增進身心障礙者之人格發展，並維護基本權益，由臺中市政府著手規劃興建育樂教養、訓練、就業等多功能之身心障礙服務中心。冀望作為推展福利服務之據點，以謀全市身心障礙者之最大之福祉，此計畫82年9月由中興建築師事務所規劃設計興建，85年5月9日發包施工，86年12月完工。
								<p>
									基地狀況：<br />
									　　本中心位於八期重劃區「八三」公園內，興建基地面積三O二五坪，地下一層、地上三層，總樓地面積五六三五坪，室外庭園綠化以配合硬體動向規劃具有活動性之公共設施、休閒庭園及專業停車場等，全中心為無障礙設施，並充分考慮建物之採光、通風、堅固等要件，務求達到實用安全之原則。基地四周均面臨都市計劃道路、且臨近車站副都市中心，交通便捷，前方面對豐富公園，西邊臨麻園頭溪，風景優美寧靜，建築物坐北朝南，氣象宏偉。</p>
								<p align="right">
									~摘錄自86年12月16日林柏榕前市長所誌之落成紀要</p>
							</td>
						</tr>
						<tr>
							<td class="pageTitle">
								<a id="p2" name="p2"></a><img height="18" src="images/bullb.gif" width="18" /> 啟用</td>
							<td>
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2">
								<img align="right" hspace="8" src="images/LB03P01254112.jpg" vspace="8" /> 溫馨命名：<br />
								　　臺中市胡志強前市長決心打造臺中市為愛心城市，將中心更名為「台中市愛心家園」，希望結合社會資源以公設民營方式提供身障者享有無障礙生活環境空間與擴大落實各項身障福利服務層面。
								<p>
									委託經營：<br />
									　　經由臺中市政府公開評選後正式委託財團法人瑪利亞社會福利基金會經營管理，於91年9月28日正式啟用。</p>
								<p>
									&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="pageTitle">
								<a id="p3" name="p3"></a><img height="18" src="images/bullg.gif" width="18" /> 經營管理現況</td>
							<td>
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2">
								　　瑪利亞社會福利基金會接手經營台中市愛心家園後，陸續開辦十一項業務及提供社區服務，這些服務皆呼應身心障礙福利服務中心之成立宗旨，即成立身心障礙同胞及社區民眾之育樂教養、訓練、就業等多功能之身心障礙服務中心，並作為推展福利服務之據點。
								<p>
									　　目前瑪利亞基金會以福利園區的經營管理模式，在台中市愛心家園內設立十四個中心，以據點式及外展式推展十一項業務、身障福利服務、婦女福利服務及社區服務。 建築物內，除瑪利亞基金會所經營之服務外，尚有市府外借臺中市六大協會之身心障礙團體聯合辦公室及臺中市身障需求評估中心等。</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<img height="772" src="images/char1.gif" width="800" />
								<p>
									&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="pageTitle">
								<a id="p4" name="p4"></a><img height="18" src="images/bullp.gif" width="18" /> 願景目標</td>
							<td>
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2">
								<img height="301" src="/images/clip_image002.gif" width="481" /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>