<p>
	<a href="http://citybus.taichung.gov.tw/cms/" target="_blank"><img alt="" src="/data/contents/1550796972.jpg" style="width: 826px; height: 275px;" /></a></p>
<p>
	<strong><span style="background-color: rgb(175, 238, 238);">自行開車：</span></strong><strong> </strong></p>
<p>
	<span style="color: rgb(0, 0, 205);">1.南下國道1號：</span><br />
	&nbsp; &nbsp;下臺中交流道(178K)往臺中方向&rarr;行駛臺灣大道3段&rarr;右轉文心路&rarr;左轉永春東路&rarr;右轉東興路&rarr;過文心南五路臺中市愛心家園即在您左側。</p>
<p>
	<span style="color: rgb(0, 0, 205);">2.北上國道1號：</span><br />
	&nbsp; &nbsp;下南屯交流道(181K)往臺中方向&rarr;行駛五權西路二段&rarr;右轉東興路&rarr;過文心南五路臺中市愛心家園即在您左側。</p>
<p>
	<span style="color: rgb(0, 0, 205);">3.北上國道3號：</span><br />
	&nbsp; &nbsp;下快官交流道(202K)往臺中方向&rarr;行駛中彰快速道路&rarr;下環中路四段匣道&rarr;左轉環中路四段(請行駛慢車道)&rarr;右轉永春東路&rarr;右轉東興路&rarr;過文心南五路臺中市愛心家園即在您左側。</p>
<p>
	<strong><span style="background-color: rgb(175, 238, 238);">臺中市搭乘公車：</span></strong><strong><span style="background-color: rgb(175, 238, 238);"> </span></strong></p>
<p>
	1.可搭乘仁友<span style="color: rgb(255, 0, 0);">30</span>，<span style="color: rgb(255, 0, 0);">40</span>，<span style="color: rgb(255, 0, 0);">11</span>路於南屯路與東興路口下車走進來。</p>
<p>
	2.可搭乘統聯<span style="color: rgb(255, 0, 0);">53，73</span>路於文心路與文心南五路豐樂公園站下車走進來，或<span style="color: rgb(255, 0, 0);">52，79</span>路於三民西路與忠明南路口崇倫國中站下車走進來。</p>
<p>
	3.可搭乘彰化客運<span style="color: rgb(255, 0, 0);">79</span>路於三民西路與忠明南路口崇倫國中站下車，或<span style="color: rgb(255, 0, 0);">99</span>路東興路愛心家園站下車走進來。</p>
<p>
	4.可搭乘台中客運<span style="color: rgb(255, 0, 0);">60</span>路於東興路與永春東路口下車，或<span style="color: rgb(255, 0, 0);">70</span>號於東興路與文心南五路口愛心家園站下車。</p>
<p>
	5.可搭乘豐榮客運<span style="color: rgb(255, 0, 0);">127</span>路於東興路與文心南五路愛心家園站下車。</p>
<p>
	6. 可搭乘豐原客運<span style="color: rgb(255, 0, 0);">200、202、203、270、271、276、277</span>路公車，至愛心家園/「愛心家園醫務室」站下車。</p>
<p>
	7.請使用本市<a href="http://citybus.taichung.gov.tw/cms/">公車動態資訊網</a>查詢&rarr;點選路網轉乘&rarr;依地標、交叉路口、站牌查詢。</p>
<p>
	<strong><span style="background-color:#66ccff;">捷運綠線：</span></strong></p>
<p>
	1.搭至豐樂公園站下車，可騎乘U-Bike(捷運站旁),沿文心南五路往東興路方向騎乘，約5分鐘即可到達(愛心家園旁U-bike站)。</p>
<p>
	2.搭至豐樂公園站下車，沿文心南五路往東興路方向步行，約10-15分鐘即可到達。</p>
