<link href="Scripts/swipe.css" rel="stylesheet"/>
<script>var slideDir='data/doc/menupics/menu3_12/';</script>
<script src="Scripts/swipe.js"></script>
<script src="micSlider.js"></script>
<table width="90%" border="0" class="mainTable line1">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 按摩服務</div></td>
  </tr>   
  <tr>
    <td class="pageTitle"><img src="images/bullr.gif" width="18" height="18" /> 服務目的：</td>
  </tr>
  <tr>
    <td>
    <div id="slider" class="swipe"></div>
    <ol>
      <li>提供視覺障礙者一個設備周全的固定職場，增加視覺障礙者就業機會。</li>
      <li> 提供一般社會民眾使用按摩服務。</li>
    </ol></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullb.gif" width="18" height="18" /> 服務對象：</td>
  </tr>
  <tr>
    <td><blockquote>
      <p>一般社會民眾。</p>
    </blockquote>      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullg.gif" width="18" height="18" /> 服務時間：</td>
  </tr>
  <tr>
    <td><blockquote>
      <p>週一至週六，AM9：00~PM17：00<br />
        請先電話預約</p>
</blockquote></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullp.gif" width="18" height="18" /> 服務內容：</td>
  </tr>
  <tr>
    <td><ol>
      <li>全身按摩。</li>
      <li>
        頸肩背按摩。</li>
      <li>腳底按摩。</li>
    </ol></td>
  </tr>

</table>
