<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_7/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 醫療復健</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務目的：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<ol>
					<li>
						<p>
							提供身心障礙者相關急、慢性疾病診治。</p>
					</li>
					<li>
						<p>
							提供本市社區民眾一般疾病診治。</p>
					</li>
					<li>
						<p>
							提供身心障礙者及社區民眾復健治療服務。</p>
					</li>
					<li>
						<p>
							提供衛教服務及用藥諮詢。</p>
					</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					身心障礙者及社區民眾。</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="http://www.lovehome.org.tw/images/bullg.gif" width="18" />&nbsp;台中市愛心家園附設醫務室 門診時間表：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						<img alt="" src="/data/contents/1684376920.jpg" style="width: 778px; height: 467px;" /></p>
					<p>
						◎就診須知：1.就診請帶健保IC卡及身心障礙手冊(身心障礙者)。</p>
					<p style="margin-left: 120px;">
						2.掛號費50元，部份負擔50元</p>
					<p style="margin-left: 120px;">
						3.牙科服務對象：領有身心障礙手冊並符合專案適用之園生，障礙別如：肢障(限腦麻及重度以上障別)、植物人、智能障礙、自閉症、染色體異常、中度以上精神障礙、 失智、多重障礙及頑固性癲癇等。</p>
					<p style="margin-left: 120px;">
						4.特診採預約方式，掛號專線：04-24713535轉1155。(請事先電話約診，以節省等候時間)</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						◎掛號時間：</p>
					<p>
						週一至週五(上午8：30～11：30 ；下午1：30～4：30)</p>
					<p>
						◎看診時間：</p>
					<p>
						週一至週五(上午9：30～12：00 ；下午2：00～5：00)</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						（一）提供身心障礙者及社區民眾家庭醫學科門診服務。</p>
					<p>
						（二）提供身心障礙者及社區民眾復健科門診服務。中心內服務之身心障礙者急性疾病之處理。</p>
					<p>
						（三）提供身心障礙者及社區民眾身心科、眼科、耳鼻喉科門診服務。</p>
					<p>
						（四）提供身心障礙者牙科特別門診服務。</p>
					<p>
						（五）提供身心障礙者特殊科別義診服務(婦產科、心臟科&hellip;等)。</p>
					<p>
						（六）提供身心障礙者及社區民眾復健治療服務，包括專業評估、治療活動、時段療育。</p>
				</blockquote>
				<p class="paraHead">
					<span style="background-color:#ffd700;">&nbsp;&nbsp;&nbsp;&nbsp;物理治療(PT)</span></p>
				<ol>
					<li>
						運動治療(抬頭、翻身、坐位、跪立、站立、跳躍、協調、平衡、肌力肌耐力和步態等訓練)</li>
					<li>
						操作治療(被動性關節角度運動、牽拉運動、鬆動術等)</li>
					<li>
						光、電、冷、熱、牽引治療、超音波療法等</li>
					<li>
						正確姿勢擺位諮詢(各種臥姿、坐姿、跪姿、站姿的正確擺位建議)</li>
					<li>
						輔具使用諮詢</li>
				</ol>
				<p class="paraHead">
					<span style="background-color:#ffd700;">&nbsp;&nbsp;&nbsp; 職能治療(OT)</span></p>
				<ol>
					<li>
						機能姿勢(姿勢的維持、姿勢的轉換、移位平衡等訓練)</li>
					<li>
						手部操作(上肢大動作、手部靈巧動作、手眼協調、雙手協調、各種操作訓練)</li>
					<li>
						日常生活功能訓練</li>
					<li>
						感覺統合(前庭本體感覺整合、感覺動作訓練、知動訓練)</li>
					<li>
						知覺認知訓練(注意力訓練、心理認知訓練、人際社交訓練)</li>
					<li>
						職業訓練(職前評估、職前訓練、職務再設計)</li>
				</ol>
				<p class="paraHead">
					<span style="background-color:#ffd700;">&nbsp;&nbsp;&nbsp; 語言治療(ST)</span></p>
				<ol>
					<li>
						溝通互動訓練</li>
					<li>
						聽辨訓練(定位、聲音區辨)</li>
					<li>
						進食吞嚥訓練(咀嚼、吞嚥、口腔減敏感、唇舌運動)</li>
					<li>
						音聲機能、構音訓練(發聲、發音等)</li>
					<li>
						語言溝通訓練(表達、理解、非口語溝通、替代性溝通輔具)</li>
				</ol>
				<blockquote>
					<p>
						以上的服務模式有整體性評估、直接治療、間接治療、早療時段班專業治療服務、居家到宅復健服務、家屬或有需要者諮詢，及一般民眾復健治療。</p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>