<p>
	&nbsp;</p>
<table align="center" border="0" class="mainTable" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 連絡我們 &nbsp;總機04-24713535&nbsp;</div>
			</td>
		</tr>
		<tr>
			<td align="center" class="pageTitle">
				台中市愛心家園業務聯繫表</td>
		</tr>
		<tr>
			<td>
				<table border="1" cellpadding="4" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<th bgcolor="#cccccc" valign="top" width="86">
								<div>
									<span style="font-size:14px;">單位名稱</span></div>
							</th>
							<th bgcolor="#cccccc" valign="top" width="81">
								<div>
									<span style="font-size:14px;">職稱</span></div>
							</th>
							<th bgcolor="#cccccc" valign="top" width="63">
								<div>
									<span style="font-size:14px;">姓名</span></div>
							</th>
							<th bgcolor="#cccccc" valign="top" width="113">
								<div>
									<span style="font-size:14px;">服務內容</span></div>
							</th>
							<th bgcolor="#cccccc" valign="top" width="46">
								<div>
									<span style="font-size:14px;">分機</span></div>
							</th>
							<th bgcolor="#cccccc" valign="top" width="102">
								<div>
									<span style="font-size:14px;">傳真</span></div>
							</th>
							<th bgcolor="#cccccc" valign="top" width="198">
								<div>
									<span style="font-size:14px;">電子信箱</span></div>
							</th>
						</tr>
						<tr>
							<td rowspan="4" valign="top" width="86">
								<div>
									<span style="font-size:14px;">行政<br />
									管理室</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">人事</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">廖小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">一般行政服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1305</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m651@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">出納</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">何小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">愛心捐款服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1306</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m772@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">材管</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">蔡先生</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">場地租借服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1307</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m745@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">採購</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">呂先生</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">愛心捐物服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1308</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m1844@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td rowspan="4" valign="top" width="86">
								<div>
									<span style="font-size:14px;">社區服務中心</span></div>
							</td>
							<td valign="top" width="81">
								<span style="font-size: 14px;">組長</span></td>
							<td valign="top" width="63">
								<span style="font-size: 14px;">洪先生</span></td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">社區服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1403</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m467@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">事務員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">葉小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">團體參訪服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1406</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m770@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">專員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">蔡小姐</span></div>
								<div>
									<span style="font-size:14px;">潘小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">發票募集</span></div>
								<div>
									<span style="font-size:14px;">零錢箱募集</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1407</span></div>
								<div>
									<span style="font-size:14px;">1409</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m810@maria.org.tw</span></div>
								<div>
									<span style="font-size:14px;">m1173@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">志工督導</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">洪小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">志工服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1408</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m010@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">兒資中心(第三區)</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">副組長</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">曾小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">0-6歲發展遲緩兒童服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1504</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24714959</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m547@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<span style="font-size:14px;">南屯婦女及新住民培力中心</span></td>
							<td valign="top" width="81">
								<span style="font-size: 14px;">社工</span></td>
							<td valign="top" width="63">
								<span style="font-size: 14px;">廖社工</span></td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">法律諮詢、婦女成長</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1607</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24714959</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">women3@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">身障者社資中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">組長</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">陳先生</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">7-65歲身心障礙者個案服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1703</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24714959</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m776@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">瑪利寶寶啟蒙中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">主任</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">朱小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">0-3歲發展遲緩嬰幼兒服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2701</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24754039</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m918@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">醫療復健中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">事務員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">孫小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">物理、職能、語言治療服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1805</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24754039</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m917@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">輔具資源中心</span></div>
							</td>
							<td valign="top" width="81">
								<span style="font-size: 14px;">主任</span></td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">劉先生</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">輔具服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1177</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24754086</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">atrc@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">門診中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">櫃台行政</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">李小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">醫療門診</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">1155</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24754039</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m917@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">早期療育中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">事務員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">賴小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">3-6歲發展遲緩兒童服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2005</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m732@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">生活支持服務中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">社工員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">梁小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">重度、極重度成年身障服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2106</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m1653@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">技能養成中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">社工師</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">謝小姐</span></div>
								<div>
									<span style="font-size:14px;">林小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">15歲以上身心障礙者服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2206<br />
									2306</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m1285@maria.org.tw</span></div>
								<div>
									<span style="font-size:14px;">m1816@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">社區就業中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">組長</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">林小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">身心障礙者支持性就業服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2403</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m1170@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">麻吉家族</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">社工員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">曾小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">身心障礙者休閒相關活動</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2406</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m1051@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<span style="font-size:14px;">清潔庇護就業中心</span></td>
							<td valign="top" width="81">
								<span style="font-size:14px;">事務員</span></td>
							<td valign="top" width="63">
								<span style="font-size:14px;">黃小姐</span></td>
							<td valign="top" width="113">
								<span style="font-size:14px;">清潔及手作</span></td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2505</span></div>
								<div>
									<span style="font-size:14px;">1199</span></div>
							</td>
							<td valign="top" width="102">
								<span style="font-size:14px;">24712624</span></td>
							<td valign="top" width="198">
								<span style="font-size:14px;">m1495@maria.org.tw</span></td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size: 14px;">烘焙庇護就業中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">事務員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size: 14px;">劉小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size: 14px;">麵包服務</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size: 14px;">2605</span></div>
								<div>
									<span style="font-size:14px;">1188</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size: 14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size: 14px;">m1599@maria.org.tw</span></div>
							</td>
						</tr>
						<tr>
							<td valign="top" width="86">
								<div>
									<span style="font-size:14px;">職業訓練中心</span></div>
							</td>
							<td valign="top" width="81">
								<div>
									<span style="font-size:14px;">社工員</span></div>
							</td>
							<td valign="top" width="63">
								<div>
									<span style="font-size:14px;">丁小姐</span></div>
							</td>
							<td valign="top" width="113">
								<div>
									<span style="font-size:14px;">職業訓練服務提供</span></div>
							</td>
							<td valign="top" width="46">
								<div>
									<span style="font-size:14px;">2606</span></div>
							</td>
							<td valign="top" width="102">
								<div>
									<span style="font-size:14px;">24712624</span></div>
							</td>
							<td valign="top" width="198">
								<div>
									<span style="font-size:14px;">m994@maria.org.tw</span></div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>