<style>
.list1 { line-height: 2em;
	}
</style>
<table width="90%" border="0">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 計畫執行</div></td>
  </tr>   
  <tr>
    <td><ul class="list1">
      <li>民國91年4月1日，瑪利亞基金會與台中市政府正式簽訂「台中市身心障礙福利服務中心委託經營管理契約書」，經歷六個月之籌備期，於91年9月28日正式啟用。</li>
      <li>民國91年10月1日至95年9月30日止，瑪利亞基金會執行為期四年之第一期契約。總經營管理空間坪數為5506坪。以教保課、成人服務課、醫療復健課、社工課、社會服務課、總務課執行十七項業務及社區服務。</li>
      <li>民國95年10月1日至99年9月30日止，瑪利亞基金會執行為期四年第二期契約。總經營管理空間坪數為5406坪，整併十七項業務為十一項業務及社區服務。</li>
      <li>民國99年10月1日至102年12月31日執行，瑪利亞基金會執行為期三年三個月之後續擴充之續約計畫。</li>
    </ul></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
