<link href="Scripts/swipe.css" rel="stylesheet" />
<script>
var slideDir='data/doc/menupics/menu3_2/';
</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 日間照顧</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" />&nbsp;<strong>服務簡介</strong></td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<blockquote>
					<p>
						提供成年心智障礙者日間照顧服務，以平等、尊重、支持為服務核心理念，推動「以個人為中心」的服務，幫助心智障礙者生活及融合在社區中，享有和一般人相同的生活品質的權利，成功地從事一般典型成人所能完成的生活活動，以達成</p>
					<ol>
						<li>
							維護並實踐身心障礙者過典型社區的生活，擁有平等權益與尊嚴。</li>
						<li>
							提供身障者及其家庭安心有效的支持服務，豐富其生活品質。</li>
					</ol>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 中心簡介</td>
		</tr>
		<tr>
			<td>
				<p class="paraHead">
					　●生活支持服務中心</p>
				<blockquote>
					<p>
						以<u>重度、極重度成年之心智障礙者為主要之服務對象</u>，<u>養成或滿足其生活自理功能、身體照顧、健康維護、情緒行為輔導、生活品質基本需求為重心</u>，<u>輔以提供作業活動</u>、<u>休閒活動</u>、終身學習活動、社交活動、健康與安全活動、自我保護與權益倡導等日間活動為目標，同時針對家庭照顧者提供相關之親職教育與諮詢服務。</p>
				</blockquote>
				<p class="paraHead">
					　●技能養成第一、第二中心</p>
				<p style="margin-left: 40px;">
					&nbsp;以<u>輕、中、重度成年之心智障礙者為主要服務對象</u>，<u>提供生活獨立技能及作業活動並重之服務內容，</u>並提供社區休閒生活、終身學習活動、社交活動、健康與安全活&nbsp; 動、自我保護與權益倡導等日間活動為目標，同時針對家庭照顧者提供相關之親職教育與諮詢服務。</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="/images/bullr.gif" width="18" />&nbsp;服務對象</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<p style="margin-left: 40px;">
					1.設籍台中市</p>
				<p style="margin-left: 40px;">
					2.領有身心障礙證明之18-65歲心智障礙者為主(新制以第一類智能障礙及自閉症為主)。</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						週一至週五上午9:00 ~ 下午3:30</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" />&nbsp;收費方式</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						依衛生福利部規定辦理</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務內容</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>
						<strong>提供以個人為中心的服務計畫</strong>：針對身心障礙者的想望與夢想擬定個人服務目標，透過策略與行動幫助服身障者完成夢想，提升生活品質。並因應身障者的不同需求，從居家活動、社區生活活動、終身學習活動、就業或日間活動、健康與安全活動、社交活動、保護及權益倡導活動、特殊醫療及行為支持需求等面向提供個別化的支持服務。</li>
					<li>
						<strong>提供各職種之作業活動:</strong>依身障者特質、專長、興趣安排合適的作業活動訓練。作業活動有烘焙工作、廚務工作、園藝工作、清潔工作、食品加工工作、等，並運用職務再設計等方法，使身障者能在功能性的技藝陶冶中，提升工作技能、工作品質，培養良好工作態度，增進自我價值，並學習金錢管理技能﹐能如一般成年人建立生活重心及自我價值。</li>
					<li>
						<strong>提供跨專業團隊服務</strong>:結合專業資源，依身障者需求提供語言治療、物理治療、職能治療、健康體適能、心理諮商輔導、行為輔導、營養諮詢、健康飲食、行為輔導、性教育、衛教等服務等服務。</li>
					<li>
						<strong>提供</strong><strong>多元社團活動：</strong>每年舉辦社團博覽會，成立多元豐富性之社團活動，促進身障者自由選擇參與，從中發展身障者之興趣、喜好、技能、社交生活等。</li>
					<li>
						<strong>提供社區休閒生活</strong>：連結及建構社區資源網絡，提供社區適應、旅遊活動、平日休閒活動，增進學員之社區參與、社區融合之機會，以拓展生活社交經驗。並鼓勵身障者在社區中擔任志工服務，藉此融入社區，建立正向的生活經驗。</li>
					<li>
						<strong>提供系統性的單元活動:</strong>單元活動包含衛教課程、公民教育、人身安全、性平教育等﹐持續促進學習合宜社會適應行為、休閒規劃、性教育、人際關係、穿著儀容、健康照護、實用學科、自我照顧與管理等知能。</li>
					<li>
						<strong>提供</strong>長青服務：因應40歲以上的身障者老化、退化的健康需求，規劃長青服務，服務內容包含用藥管理、營養與飲食支持、復健支持、體適能健康促進、益智活動、園藝治療等，家庭方面亦提供福利資訊、連結資源等相關服務，幫助身障者健康老化、成功老化。</li>
					<li>
						<strong>提供有具體目標的轉銜方案：</strong>針對身障者個別特質與需求，提供周詳實際之轉銜方案，使其藉著階段性訓練支持的過程、能力的提升，而能轉銜至不同的職種、作業活動、庇護性就業、職業訓練等服務模式，朝向社區化、正常化的生活環境邁步前進，建立生活重心而提昇生活品質。</li>
					<li>
						<strong>連結資源，提供必要適切之支持性服務</strong>，如交通訓練與支持、經濟補助、輔具、親職教育、喘息服務等。</li>
				</ol>
			</td>
		</tr>
	</tbody>
</table>