<style>
#preview { 
	display: none; 
	text-align:center; vertical-align:middle;
	position:fixed; left:0; top:0;
	width:100%; height:100%;
	background-color:rgba(32,32,32,0.75);
	/* filter:alpha(Opacity=75, Style=0); -moz-opacity:0.75;	opacity: 0.75; */
}
.swipe { 
	top: 100px;
	left:50%;	margin-left: -400px; border-style:solid; border-width:20px; border-color:#ffffff;
	width: 810px;
  position:absolute;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe ul { margin:0; padding:0; border:0; outline:0; }
.swipe li div, .swipe div div div {
  margin:0 10px;
  padding:0px;
  background:#1db1ff;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}
.swipepic{ width:800px; border:0 }
.imgBtn { cursor:pointer }
#closeBtn{ font-family:Verdana, Geneva, sans-serif; font-size:24px; font-weight:bold; color:#CCCCCC; float:left; padding: 10px; }
</style>
<script src="Scripts/swipe.js"></script>
<script>
//$(function(){ document.body.style.overflow = 'hidden'; });
function showalbum(dirnm) {
	var slideDir='data/doc/menupics/'+dirnm+'/';
	//document.body.style.overflow = 'hidden';
	var url = 'getpiclist.php';
	$.get(url,{'dir':slideDir},function(data){ 
		if(data.indexOf('Error')>=0) {
			alert(data);
		} else {
			$('#preview').show();
			var alst = eval(data); 
			var fp = slideDir+alst[0];
			var htmltx = '<ul style="float:left"><li><img src="'+fp+'" class="swipepic"/></li>';
			for(i=1; i<alst.length; i++) {
				fp = slideDir+alst[i];
				htmltx += '<li style="display:none"><img src="'+fp+'" class="swipepic"/></li>';
			}
			htmltx += '</ul>'
						 + '<div style="position:absolute; vertical-align:middle; top:40%; left: 10px; cursor:pointer" onclick="slide.prev(); return false;"><img src="Scripts/images/left.png" title="前一頁"/></div>'
						 + '<div style="position:absolute; vertical-align:middle; top:40%; right:10px; cursor:pointer" onclick="slide.next(); return false;"><img src="Scripts/images/right.png" title="後一頁"/></div>'
						 + '</div>';
			var elm = document.getElementById('slider');	elm.innerHTML = htmltx;
			var obj = document.getElementById('slider');	slide = new Swipe(obj);
		}
	});
}
function closealbum() {
	$('#preview').hide();
}
</script>
<div id="preview">
	<div id="closeBtn" onclick="closealbum()">[ X ]</div>
	<div id="slider" class="swipe"></div>
</div>

<table width="90%" align="center" class="mainTable">
	<tr><td height="70"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 場地租借</div></td></tr>
  <tr>
    <td>
      <button style="float:right" onclick="document.location.href='rentPlace.php?userGroup=1'">民眾租借場地</button>
      <button style="float:right" onclick="document.location.href='rentPlace.php?userGroup=2'">員工租借場地</button>
    <ul>    
    </ul>
    </td>
  </tr>
  <tr><td class="pageTitle"><img src="images/bullr.gif" align="absmiddle" /> 場地租借流程圖</td></tr>
	<tr><td align="center"><p><img src="images/file1/pic1.jpg"></p><br /></td></tr>
  <tr><td class="pageTitle"><img src="images/bullb.gif" align="absmiddle" /> 各空間簡介及場地維護費</td></tr>
  <tr><td>
    <table border="1" cellspacing="0" cellpadding="2" width="100%">
    <tr>
      <th width="64" valign="top" bgcolor="#F79646"><p>樓層 </p></th>
      <th width="123" valign="top" bgcolor="#F79646"><p>空間名稱 </p></th>
      <th width="104" valign="top" bgcolor="#F79646"><p>可容納人數 </p></th>
      <th width="123" valign="top" bgcolor="#F79646"><p>每場次(半日)維護費 </p></th>
      <th width="122" valign="top" bgcolor="#F79646"><p>空間設備 </p></th>
      </tr>
    <tr>
      <td width="64" rowspan="7" align="center" valign="top" bgcolor="#F79646"><p>B1F </p></td>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>禮堂 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('auditorium')" class="imgBtn"/></p>
        <p>(約100坪) </p></td>
      <td width="104" valign="top" bgcolor="#FBCAA2"><p>200人 </p></td>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>5000元 </p></td>
      <td width="122" valign="top" bgcolor="#FBCAA2"><p>表演舞台、布幕、音響、投影機、麥克風 </p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>視聽室 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('B1video')" class="imgBtn"/></p>
        <p>(約53坪) </p></td>
      <td width="104" valign="top" bgcolor="#FDE4D0"><p>90人 </p></td>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>4000元 </p></td>
      <td width="122" valign="top" bgcolor="#FDE4D0"><p>階梯式座椅、布幕、音響、投影機、麥克風 </p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>研習教室 4 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('class4')" class="imgBtn"/></p>
        <p>(約22坪) </p></td>
      <td width="104" valign="top" bgcolor="#FBCAA2"><p>20人 </p></td>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>3000元 </p></td>
      <td width="122" valign="top" bgcolor="#FBCAA2"><p>布幕、音響、投影機、麥克風 </p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>研習教室1 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('class1')" class="imgBtn"/></p>
        <p>(約24坪) </p></td>
      <td width="104" valign="top" bgcolor="#FDE4D0"><p>40人 </p></td>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>2500元 </p></td>
      <td width="122" valign="top" bgcolor="#FDE4D0"><p>布幕、音響 、投影機、麥克風</p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>研習教室2 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('class2')" class="imgBtn"/></p>
        <p>(約18坪) </p></td>
      <td width="104" valign="top" bgcolor="#FBCAA2"><p>20人 </p></td>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>2000元 </p></td>
      <td width="122" valign="top" bgcolor="#FBCAA2"><p>布幕、音響 、麥克風</p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>研習教室3 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('class3')"/></p>
        <p>(約14坪) </p></td>
      <td width="104" valign="top" bgcolor="#FDE4D0"><p>20人 </p></td>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>2000元 </p></td>
      <td width="122" valign="top" bgcolor="#FDE4D0"><p>布幕、音響、麥克風</p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>研習教室 5 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('class5')"/></p>
        <p>(約49坪) </p></td>
      <td width="104" valign="top" bgcolor="#FBCAA2"><p>50人 </p></td>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>2500元 </p></td>
      <td width="122" valign="top" bgcolor="#FBCAA2"><p>布幕、音響 、投影機、麥克風</p></td>
      </tr>
    <tr>
      <td width="64" rowspan="2" align="center" valign="top" bgcolor="#F79646"><p>3F </p></td>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>視聽室 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('3Fvideo')"/></p></td>
      <td width="104" valign="top" bgcolor="#FDE4D0"><p>90人 </p></td>
      <td width="123" valign="top" bgcolor="#FDE4D0"><p>4000元 </p></td>
      <td width="122" valign="top" bgcolor="#FDE4D0"><p>階梯式座椅、布幕、音響、投影機、麥克風 </p></td>
      </tr>
    <tr>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>音樂教室 <img src="images/eye.png" width="32" height="32" title="檢視照片" align="absmiddle" onclick="showalbum('3Fmusic')"/></p></td>
      <td width="104" valign="top" bgcolor="#FBCAA2"><p>20人 </p></td>
      <td width="123" valign="top" bgcolor="#FBCAA2"><p>3000元 </p></td>
      <td width="122" valign="top" bgcolor="#FBCAA2"><p>壁鏡、音響、木地板 </p></td>
      </tr>
  </table>
  </td></tr>
</table>
<br>


