<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_6_2/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 瑪利亞庇護就業中心</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務目的：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<blockquote>
					<p>
						就業是身障成人生活品質最重要的一環，然而社區中身障就業機會不足，加上部分身障者身心條件有所限制，造成許多身障者仍然無法在社區中順利穩定就業。因此瑪利亞開設庇護就業中心，使具有就業意願與動機，但就業能力不足無法進入競爭性就業市場之身障者，能在長期就業支持之下，得以穩定就業。</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<p>
					<img height="18" src="http://www.lovehome.org.tw/images/bullg.gif" width="18" />&nbsp;<a href="http://www.lovehome.org.tw/data/doc/MAMAJob.html" target="_blank"><span style="color:#b22222;"><strong><span style="font-size: 24px;">2015</span><span style="font-size: 20px;">瑪利亞青年庇護就業故事系列短片 線上影展</span></strong></span></a></p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						<span style="color: rgb(0, 0, 0); font-family: tahoma, helvetica, arial, sans-serif;">15歲以上，65歲以下</span><font color="red" style="font-family: tahoma, helvetica, arial, sans-serif;">領有身心障礙證明或手冊者</font><span style="color: rgb(0, 0, 0); font-family: tahoma, helvetica, arial, sans-serif;">，具有清潔服務就業意願，而就業能力不足，無法進入競爭性就業市場，需長期就業支持之身心障礙者，經過職業輔導評量結果，提供庇護性就業安置。</span></p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					週一 至 週五上午8：00 ~ 12：00下午13：00 ~ 17：00</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>
						發展個人職業能力強化計畫：依個人個別能力、興趣、意願進行職務安置，發展個人職業能力強化計畫。</li>
					<li>
						職場工作輔導：提供安全工作環境，依照工作標準作業流程，提昇庇護就業者工作意願與建立自信，強化個人工作技能、體能、態度、職場適應..等，協助其達到產能及品質之要求。</li>
					<li>
						職務再設計：運用工作輔具，增加工作速度及安全性，針對職務不適應之處介入輔具或職務調整等事項。</li>
					<li>
						支持服務：
						<ul>
							<li>
								增強請求協助與問題解決能力、自我管理能力個別化訓練。</li>
							<li>
								評定內外在資源需求並進行資源結合服務、如交通、居住、心理輔導、醫療、補助等相關資源、休閒生活安排與培養。</li>
							<li>
								提供庇護就業者管理及轉銜服務相關事項。</li>
							<li>
								依照庇護就業者需要之工作技能、職業態度、社交與人際相處技巧、金錢管理、法律知識、兩性教育、心靈成長、休閒規畫提供在職訓練。</li>
							<li>
								親職教育輔導：透過電話溝通、面談、家訪、舉辦家長座談會，促進家長與孩子一同成長，達職業能力強化就業目標。</li>
						</ul>
					</li>
					<li>
						競爭性就業機會轉銜轉介、就業媒合、職場輔導安置、強化穩定就業輔導、轉介連結相關資源、追蹤輔導。</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td>
				<span class="pageTitle"><img height="18" src="images/bullr.gif" width="18" /> 服務方式：</span></td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						勞工局登記&rarr;勞工局職業重建個管員評估&rarr;職業輔導評量(入場評估)通過&rarr;勞工局職管員派案&rarr;瑪利亞員工進用面談及體檢&rarr;正式聘用&rarr;穩定就業職場輔導&rarr;轉銜轉介競爭性就業職場。</p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>