<table width="100%" border="0">
  <tr>
    <td align="center"><p style="font:12px '微軟正黑體',Verdana">
    財團法人瑪利亞社會福利基金會經營管理 - 台中市愛心家園 <span style="float:right; font-size: 14px; font-weight: bold;">訪問人次：<?php include('counter.php') ?></span><br />
    台中市南屯區東興路一段450號  TEL:886-4-24713535  FAX:886-4-24712624<br />
    E-mail:service.tl@maria.org.tw</p></td>
  </tr>
</table>