<table width="90%" border="0" align="center" cellpadding="8" cellspacing="0" class="mainTable">
  <tr>
    <td colspan="2" height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 友善連結</div></td>
  </tr> 
  <tr>
    <td align="center"><img src="images/logo/1.jpg" width="49" height="50"></td>
    <td><a href="http://www.cometcf.org.tw/ap/index.aspx" target="_blank">台中市殘障福利協進會</a></td>
  </tr>
  <tr>
    <td align="center"><img src="images/logo/2.jpg" width="74" height="70"></td>
    <td><a href="http://www.tcsci.org.tw/" target="_blank">台中市脊髓損傷者協會</a></td>
  </tr>
  <tr>
    <td align="center"><img src="images/logo/3.jpg" width="59" height="58"></td>
    <td><a href="http://mratc.org.tw/" target="_blank">台中市康復之友協會</a></td>
  </tr>
  <tr>
    <td align="center"><img src="images/logo/4.jpg" width="49" height="50"></td>
    <td><a href="http://www.taea.org.tw/" target="_blank">台中市自閉症教育協進會</a></td>
  </tr>
  <tr>
    <td align="center"><img src="images/logo/5.jpg" width="66" height="50"></td>
    <td><a href="http://www.tcsh.org.tw/ap/index.aspx" target="_blank">台中市聲暉協進會</a></td>
  </tr>
  <tr>
    <td align="center"><img src="images/logo/6.jpg" width="52" height="48"></td>
    <td><a href="http://www.tcmr.org.tw/ap/index.aspx" target="_blank">台中市啟智協進會</a></td>
  </tr>
  <tr>
    <td align="center"><img src="images/logo/8.jpg" width="56" height="58" /></td>
    <td><a href="https://www.society.taichung.gov.tw/13710/13735/13801/Lpsimplelist" target="_blank">臺中市身障需求評估中心</a></td>
  </tr>

</table>
