<link href="Scripts/swipe.css" rel="stylesheet"/>
<script>var slideDir='data/doc/menupics/menu3_11/';</script>
<script src="Scripts/swipe.js"></script>
<script src="micSlider.js"></script>
<table width="90%" border="0" class="mainTable line1">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 教育訓練</div></td>
  </tr>   
  <tr>
    <td class="pageTitle"><img src="images/bullr.gif" width="18" height="18" /> 服務目的：</td>
  </tr>
  <tr>
    <td>
    <div id="slider" class="swipe"></div>
    <ol>
      <li>協助身心障礙者家長或照顧者學習所須知能。 </li>
      <li>協助從事身心障礙者服務人員提昇專業知能與實務技巧。 </li>
      <li>透過專業整合與跨專業之交流學習、為身心障礙者服務業務引進更先進知識與技巧  。</li>
      <li>經由相關人員培訓之經驗交流，資源網路連結，並促進團體間合作，各單位就其專業發展服務對象，達成分工，提昇服務與受服務品質。</li>
      <li>讓機構人員增加充實自己機會，開拓新視野。</li>
    </ol></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullb.gif" width="18" height="18" /> 服務對象：</td>
  </tr>
  <tr>
    <td><blockquote>
      <p>從事身心障礙相關工作人士、身心障礙者及其家屬、學生、一般社會人士</p>
    </blockquote>      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullg.gif" width="18" height="18" /> 服務時間：</td>
  </tr>
  <tr>
    <td><blockquote>
      <p>周一至周五，AM8：00~PM5：00</p>
    </blockquote></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullp.gif" width="18" height="18" /> 服務內容：</td>
  </tr>
  <tr>
    <td><ol>
      <li>身心障礙者服務人員專業知能培訓。</li>
      <li>身心障礙者服務人員實務技巧操作培訓。</li>
      <li>身心障礙者服務人員跨專業研討會。</li>
      <li>輔具資源研發及運用研習會。</li>
      <li> 親職教育講座。</li>
    </ol></td>
  </tr>

</table>
