<table class="mainTable" width="90%" align="center">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 志工服務</div></td>
  </tr>  
  <tr>
    <td><p class="pageTitle"><img src="images/bullg.gif" width="18"/> 志工招募</p></td>
  </tr>
  <tr>
    <td class="indent2">
    <p>凡認同本會，年滿18歲以上，品德良好，具服務熱忱者均可報名參加。</p>
    <p><img src="images/point01.gif" width="9" height="9" /> <a href="http://www.maria.org.tw/index.php?incfn=inc_join01.htm" target="_blank">網路志工報名</a></p>
    </td>
  </tr>

  <tr>
    <td><p class="pageTitle"><img src="images/bullp.gif" width="18" height="18" /> 志工隊組織圖</p></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td><p class="pageTitle"><img src="images/bullr.gif" width="18" height="18" /> 服務項目</p></td>
  </tr>       
  <tr>
    <td>
    <table border="1" cellspacing="0" cellpadding="4" bordercolordark="#FFFFFF">
      <tr>
        <th width="144" bgcolor="#EEEEEE">組別</th>
        <th width="468" bgcolor="#EEEEEE">服務內容</th>
      </tr>
      <tr>
        <td width="144" align="center">教學組</td>
        <td width="468" valign="top">協助教學、餵食、職業訓練…等</td>
      </tr>
      <tr>
        <td width="144" align="center">行政組</td>
        <td width="468" valign="top">文書、美工、圖書、環境清潔、專案活動等</td>
      </tr>
      <tr>
        <td width="144" align="center">醫療復健組</td>
        <td width="468" valign="top">運動復健活動協助、水療志工、輔具製作與維修等</td>
      </tr>
      <tr>
        <td width="144" align="center">導覽組</td>
        <td width="468" valign="top">負責團體參訪之園區導覽工作</td>
      </tr>
      <tr>
        <td width="144" align="center">發票組</td>
        <td width="468" valign="top">發票募集、整理與對獎</td>
      </tr>
      <tr>
        <td width="144" align="center">職業訓練組</td>
        <td width="468" valign="top">技能養成:園藝、廚務、烘焙、清潔…等</td>
      </tr>
    </table>
	</td></tr>

</table>