<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_5/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 職業訓練</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務目的：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<blockquote>
					瑪利亞社會福利基金會為培養及提升身心障礙者之工作態度與技能，民國89年開始承辦勞政單位職業訓練，十多年來曾接受委辦之職訓類別包含電腦、香草園藝、環境清潔、烘焙助手暨食品包裝等職類，結訓後並輔導其轉銜至社區就業。</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					15歲以上，65歲以下<span style="color: rgb(255, 0, 0); font-family: tahoma, helvetica, arial, sans-serif;">領有身心障礙證明或手冊者</span>，經評估具有就業意願，但因失業、待業、或需強化職業技能，或需養成第二技能之身心障礙者，配合就業市場之需要，需就業所需之工作技能與知識所實施之訓練者。</blockquote>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					週一 至 週五上午8：00 ~ 12：00下午13：00 ~ 17：00</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<ol>
					<li>
						發展個別化職業訓練計畫。</li>
					<li>
						職業技能訓練與輔導</li>
					<li>
						工作態度訓練與輔導</li>
					<li>
						職場實習及職場適應生活輔導</li>
					<li>
						職訓相關資源轉介媒合，如職務再設計、職業輔導評量、就業諮商、職業生活津貼補助申請..等</li>
					<li>
						結訓後協助輔導就業。</li>
					<li>
						競爭性就業機會轉銜轉介、就業媒合、職場輔導安置、強化穩定就業輔導、轉介連結相關資源、追蹤輔導。</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td>
				<span class="pageTitle"><img height="18" src="images/bullr.gif" width="18" /> 服務方式：</span></td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						經政府單位勞工處職業重建個管員轉介派案&rarr;錄訓評估&rarr;通過體檢&rarr;開訓&rarr;接受職業訓練&rarr;結訓&rarr;工作機會開發&rarr;面試媒合&rarr;工作密集輔導&rarr;追蹤輔導&rarr;結案。</p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>