<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_8/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 輔具服務</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務緣起/目標：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<blockquote>
					<p>
						財團法人瑪利亞社會福利基金會為因應附設之各教養園區身心障礙兒童的特殊輔具個別需求，以「愛永不止息」的精神服務障礙者，以傳播天主愛的福音為服務使命，建立障礙多元服務的中心，成為生命教育實踐的場所，開啟障礙機構服務的典範，形成社會大愛共融的空間為服務身心礙者服務的願景。</p>
					<p>
						自民國87年8月特別成立輔具資源中心，以結合基金會專業團隊及國內各研究機構之力量，提供專業輔具諮詢與輔具使用訓練，並與廠商合作研發適合身心障礙者之個別化輔具，致力於改善身心障礙者的生活品質，以及加強其生活獨立能力，並提昇照護者之效率及協助教保員方便教學。其後，於民國92年配合內政部推廣身心障礙福利業務，成立「台中市身心障礙者輔具資源中心」，並於民國100年臺中縣市合併升格後，改名為「臺中市南區輔具資源中心」。</p>
					<p>
						本中心以跨專業團隊方式，依循「身心障礙者輔具資源整合與研究發展及服務辦法」（民101年7月16日，台內社字第1010244755號）所規定之輔具服務項目為基礎，為臺中市有輔具需求之民眾，提供多元整合的輔具服務，如維修、評估、回收、租借、展示、諮詢及到宅輔具相關服務等，並有效利用輔具相關資源，推廣輔具相關知能與資訊，以協助在社區中有輔具需求的民眾克服其生理機能障礙，促進生活自理能力以達到自立生活。</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						設籍且實際居住臺中市(北區、中區、東區、南區、南屯區、西區、大里區、烏日區及霧峰區)，共9行政區內之身心障礙者及其家庭為主。</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<p style="margin-left:1.0cm;">
					<span style="font-size:22px;"><span style="font-family:arial,helvetica,sans-serif;">(一)輔具諮詢與資源連結</span></span></p>
				<p style="margin-left: 80px;">
					藉由輔具資源的整合平台，提供輔具相關服務的諮詢及轉介相關輔具資源。</p>
				<p style="margin-left:1.0cm;">
					<span style="font-size:22px;"><span style="font-family:arial,helvetica,sans-serif;">(二)展示推廣與社區宣導</span></span></p>
				<p style="margin-left: 80px;">
					提供輔具展示及參訪解說現場服務，並透過網絡連結將輔具服務推廣到社區。</p>
				<p style="margin-left:1.0cm;">
					<span style="font-size:22px;"><span style="font-family:arial,helvetica,sans-serif;">(三)輔具評估及檢核適配</span></span></p>
				<p style="margin-left: 80px;">
					提供輔具專業諮詢、評估、檢核、適配服務，並視需要<span style="color:#0000ff;"><strong>到宅提供輔具相關服務</strong></span>。</p>
				<p style="margin-left: 40px;">
					<span style="font-family: arial, helvetica, sans-serif; font-size: 22px;">(四)輔具維修與巡迴服務</span></p>
				<p style="margin-left: 80px;">
					提供輔具維修及巡迴定點服務，以維護輔具的適妥性。</p>
				<p style="margin-left:1.0cm;">
					<span style="font-size:22px;"><span style="font-family:arial,helvetica,sans-serif;">(五)輔具租借與回收利用</span></span></p>
				<p style="margin-left: 80px;">
					提供共享輔具的租借與轉贈媒合，發揮輔具資源的再利用效益。</p>
				<p style="margin-left:1.0cm;">
					<span style="font-size:22px;"><span style="font-family:arial,helvetica,sans-serif;">(六)研習訓練與人才培育</span></span></p>
				<p style="margin-left: 80px;">
					提供失能者輔具相關教育訓練、輔具工作人員専業支持，並接受輔具實務實習見習。</p>
				<p>
					<strong><span style="color:#0000ff;">備註:&nbsp;</span></strong><strong style="color: rgb(0, 0, 255);">到宅提供輔具相關服務&nbsp;</strong><strong><span style="color:#0000ff;">標準</span></strong></p>
				<ul>
					<li style="margin-left: 40px;">
						<p>
							<span style="font-size:18px;"><span style="color:#0000ff;">到宅維修：低收入戶、中低收入戶、獨居或經輔具中心媒合輔具者，</span></span><wbr><span style="font-size:18px;"><span style="color:#0000ff;">有大型輔具(如居家用照顧床、電動輪椅、電動代步車)且輔具已達</span></span><wbr><wbr><span style="font-size:18px;"><span style="color:#0000ff;">保固年限。</span></span></wbr></wbr></wbr></p>
					</li>
				</ul>
				<div>
					<ul>
						<li style="margin-left: 40px;">
							<p>
								<span style="font-size:18px;"><span style="color:#0000ff;">到宅評估：</span></span></p>
						</li>
					</ul>
					<p style="margin-left: 80px;">
						<span style="font-size:18px;"><span style="color:#0000ff;">1.&nbsp;&nbsp;需二十四小時長期使用維生設備之身心障礙者。</span></span></p>
					<p style="margin-left: 80px;">
						<span style="font-size:18px;"><span style="color:#0000ff;">2.&nbsp;&nbsp;六歲以上，全身癱瘓無法自行下床之身心障礙者。</span></span></p>
					<p style="margin-left: 80px;">
						<span style="font-size:18px;"><span style="color:#0000ff;">3.&nbsp;&nbsp;申請居家無障礙設施設備改善者。</span></span></p>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<span style="font-size:22px;"><span style="font-family:arial,helvetica,sans-serif;"><img height="18" src="http://www.lovehome.org.tw/images/bullb.gif" width="18" />&nbsp;輔具巡迴服務：</span></span></td>
		</tr>
		<tr>
			<td>
				<p>
					為提升使用者就近性、便利性服務，以南區輔具資源中心做延伸，於中心所屬區域增設據點，以串連點對點方式，提供據點服務，形成輔具服務網，實現在地化輔具服務。</p>
				<p style="margin-left:19.05pt;">
					一、據點或定點服務內容：輔具評估、維修、租借、諮詢、回收等服務</p>
				<p style="margin-left:19.05pt;">
					二、輔具定點巡迴服務時間如下：</p>
				<p style="margin-left:18.95pt;">
					&nbsp;&nbsp;&nbsp; A.霧峰區據點：</p>
				<p style="margin-left:54.0pt;">
					服務時間：週五下午14：00-16：30</p>
				<p style="margin-left:54.0pt;">
					地點：霧峰區長青學苑2樓201教室&nbsp; (臺中市霧峰區大同路16號)</p>
				<p style="margin-left:18.95pt;">
					&nbsp;&nbsp;&nbsp; B.北區據點：</p>
				<p style="margin-left:54.0pt;">
					服務時間：週二上午9：00-11：30、週四下午14：00-16：30</p>
				<p style="margin-left:54.0pt;">
					地點：臺中市長青服務中心&nbsp; (臺中市北區北平路一段65號)</p>
				<p style="margin-left:18.95pt;">
					&nbsp;&nbsp;&nbsp; C.大里據點：</p>
				<p style="margin-left:54.0pt;">
					服務時間：週二上午9：00-11：30、週四上午9：00-11：30</p>
				<p style="margin-left:54.0pt;">
					地點：臺中市兒童青少年服務中心&nbsp; &nbsp;(臺中市大里區新光路32號)</p>
				<p style="margin-left:18.95pt;">
					&nbsp;&nbsp;&nbsp; D.烏日據點：</p>
				<p style="margin-left:54.0pt;">
					服務時間：每週五上午9：00-11：30</p>
				<p style="margin-left:54.0pt;">
					地點：台中市烏日區仁德社區發展協會&nbsp; &nbsp; (臺中市烏日區信義街116號)&nbsp;</p>
				<p style="margin-left:18.95pt;">
					&nbsp; &nbsp;</p>
				<p style="margin-left:19.05pt;">
					三、輔具巡迴服務注意事項:</p>
				<p style="margin-left:52.45pt;">
					各項服務須提前兩天前預約，以利服務人員提前準備輔具、材料、服務前置作業。若未提前預約，致使當日無法提供服務，敬請見諒。</p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					&nbsp;</p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="font-size:20px;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;"><span style="box-sizing: border-box; font-weight: 700;">服務時間</span><span style="box-sizing: border-box;"><span class="text-size2" microsoft="" style="box-sizing: border-box; font-weight: 700; font-family: Verdana, Geneva, sans-serif, ">&nbsp; &nbsp;</span></span></span></span><span style="box-sizing: border-box;">週一~週五 08：00-12：00，13：00-17：00；&nbsp;</span></span></p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="font-size:20px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 夜間服務 : 每週三 17:00-19:00</span></p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="font-size:20px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 假日服務 : 每月第三週之周六上午08:00~12:00(遇連續假日，順延一周)</span></p>
				<p style="color: rgb(0, 0, 0); box-sizing: border-box; margin: 0px 0px 10px; font-family: Verdana, Geneva, sans-serif, 微軟正黑體;">
					&nbsp;</p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="font-size:20px;"><span style="box-sizing: border-box; font-weight: 700; font-family: 微軟正黑體;">聯絡方式</span><span microsoft="" style="box-sizing: border-box; font-weight: 700; font-family: Verdana, Geneva, sans-serif, ">&nbsp; &nbsp;</span><span style="font-family: 微軟正黑體;">電話：04-24713535 分機 1177&nbsp; &nbsp; 傳真：04-24754086&nbsp;&nbsp;</span></span></p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="font-size:20px;"><span style="font-family: 微軟正黑體;">電子信箱：</span><a href="mailto:atrc@maria.org.tw" style="font-family: 微軟正黑體; font-size: 16px; color: rgb(17, 85, 204);" target="_blank">atrc@maria.org.tw</a></span></p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					&nbsp;</p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="box-sizing: border-box; font-family: 微軟正黑體;"><span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-weight: 700;">臺中市南區輔具資源中心在LINE官方帳號登場囉！</span><br style="box-sizing: border-box;" />
					我們將會提供許多好康資訊給大家，<br style="box-sizing: border-box;" />
					請利用下方連結，將我們的帳號加入好友來接收優惠資訊：</span></span></p>
				<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
					<span style="box-sizing: border-box; font-family: 微軟正黑體;"><span style="box-sizing: border-box; font-size: 16px;"><a href="https://lin.ee/7XnnmMo" style="box-sizing: border-box; background-color: transparent; color: rgb(0, 0, 0); text-decoration-line: none; font-size: 14px; font-family: Verdana, Geneva, sans-serif, 微軟正黑體;" target="_blank">https://lin.ee/7Xn</a></span></span><a href="https://lin.ee/7XnnmMo" style="background-color: transparent; box-sizing: border-box; color: rgb(0, 0, 0); text-decoration-line: none;" target="_blank">nm</a><img alt="" src="/data/contents/1690529836.jpg" style="color: rgb(34, 34, 34); width: 170px; height: 170px;" /><a href="https://lin.ee/7XnnmMo" style="background-color: transparent; box-sizing: border-box; color: rgb(0, 0, 0); text-decoration-line: none;" target="_blank">Mo</a></p>
			</td>
		</tr>
		<tr>
			<td>
				<span class="pageTitle"><img height="18" src="images/bullr.gif" width="18" /> 友善連結：</span></td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						<span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">輔具資源入口網&nbsp;</span></span><a href="https://rat.taichung.gov.tw/home">https://rat.taichung.gov.tw/home</a><br />
						<span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"> 臺中市北區輔具資源中心 <a href="https://www.tatrc-taichung.com.tw/Organization/Index/3">https://www.tatrc-taichung.com.tw/Organization/Index/3</a><br />
						臺中市海線輔具資源中心 <a href="https://www.tatrc-taichung.com.tw/Organization/Index/4">https://www.tatrc-taichung.com.tw/Organization/Index/4</a><br />
						臺中市政府社會局 <a href="http://www.society.taichung.gov.tw/">http://www.society.taichung.gov.tw/</a><br />
						臺中市長期2.0專區 <a href="https://www.health.taichung.gov.tw/1614263/Normalnodelist">https://www.health.taichung.gov.tw/1614263/Normalnodelist</a></span></span></p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<wbr><wbr><wbr>
	<p>
		&nbsp;</p>
	<p>
		<wbr><wbr><wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr> </wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr> </wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr> </wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr> </wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr> </wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr> </wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	</wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></p>
