<link href="Scripts/swipe.css" rel="stylesheet"/>
<script>var slideDir='data/doc/menupics/menu3_9/';</script>
<script src="Scripts/swipe.js"></script>
<script src="micSlider.js"></script>
<table width="90%" border="0" class="mainTable line1">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 運動休閒</div></td>
  </tr>   
  <tr>
    <td class="pageTitle"><img src="images/bullr.gif" width="18" height="18" /> 服務目的：</td>
  </tr>
  <tr>
    <td>
    <div id="slider" class="swipe"></div>
    <blockquote>
      <p>鼓勵身心障礙者參與各項運動及休閒活動，期能培養運動習慣鍛鍊健康體魄，     並藉由活動的參與積極誘導身心障礙者融入社區生活，參與社區各項休閒活動， 並擴大其人際關係以利其身心發展，尊重身心障礙者的人權。</p>
    </blockquote></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullb.gif" width="18" height="18" /> 服務對象：</td>
  </tr>
  <tr>
    <td><blockquote>
      <p>身心障礙者、一般社會人士。      </p>
    </blockquote>      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullg.gif" width="18" height="18" /> 服務時間：</td>
  </tr>
  <tr>
    <td><blockquote>
    週一至週六 AM 8:00-PM 5:00。</blockquote></td>
  </tr>
  <tr>
    <td class="pageTitle"><img src="images/bullp.gif" width="18" height="18" /> 服務內容：</td>
  </tr>
  <tr>
    <td><ol>
      <li>運動: 提供運動休閒室及室外籃球場讓身障者有一個適當的無障礙運動空<br />
        間。</li>
      <li>休閒: 提供適合身心障礙者無障礙的卡拉OK室，並辦理多元化、多種類的<br />
        休閒娛樂活動。</li>
    </ol></td>
  </tr>

</table>
