<script>
function formvalid(tfm) {
	if(!tfm.title.value) {alert('請填寫機關團體名稱'); tfm.title.focus(); return false; }
	if(!tfm.name.value) {alert('請填寫申請人姓名'); tfm.name.focus(); return false; }
	if(!tfm.tel.value) {alert('請填寫申請人電話'); tfm.tel.focus(); return false; }
	if(!tfm.visittime.value) {alert('請填寫參訪時間'); tfm.visittime.focus(); return false; }
	if(!tfm.visitnum.value) {alert('請填寫參訪人數'); tfm.visitnum.focus(); return false; }
	return true;
}
</script>
<table width="90%" border="0" align="center" class="mainTable">
  <tr>
    <td height="80"><div class="pageTitleBG"><img src="images/off.png" align="absbottom" /> 預約參訪</div></td>
  </tr>
  <tr>
    <td class="indent">
    	<p class="pageTitle"><img src="images/bullr.gif" align="absmiddle" /> 團體參訪</p>
      <p class="indent2">參訪時間：每週二、四、五上午9：30－11：00<br>適合對象：一般社團及各級學校團體<br>行程內容：機構、愛心家園簡介+園區參訪+Q&amp;A。</p>
      <p class="pageTitle"><img src="images/bullb.gif" align="absmiddle" /> 注意事項：</p>
      <ol>
        <li>來訪團體請於4週前填妥參訪表回傳預約及確認，於參訪前一週寄達公文，以<br>
        利場地安排及活動準備。</li>
        <li>為維護參訪教學品質，每時段僅受理一個團體到訪，人數最少20人，至多80<br>
          人，不便之處敬請見諒。</li>
        <li>為尊重園生隱私，參訪教學現場時請勿拍攝園生。</li>
    </ol></td>
  </tr>
  <tr>
    <td><p class="pageTitle"><img src="images/bullg.gif" width="18" height="18" /> 線上預約</p></td>
  </tr>
  <tr>
    <td>
  <form action="visitformdo.php" method="post" style="padding:0" onsubmit="return formvalid(this)">
  <table width="600" border="0" cellpadding="8" cellspacing="0" style="border:dashed; border-width:1px; padding:10px">
  <tr>
    <th colspan="4">愛心家園預約參訪報名表</th>
    </tr>
  <tr>
    <td align="right">機關團體名稱：</td>
    <td colspan="3"><input name="title" type="text" id="title" size="60" /></td>
    </tr>
  <tr>
    <td align="right">申請人姓名：</td>
    <td><input type="text" name="name" id="name" /></td>
    <td>職稱：</td>
    <td><input type="text" name="job" id="job" /></td>
  </tr>
  <tr>
    <td align="right">服務單位：</td>
    <td colspan="3"><input type="text" name="serveunit" id="serveunit" /></td>
    </tr>
  <tr>
    <td align="right">申請人電話：</td>
    <td><input type="text" name="tel" id="tel" /></td>
    <td>行動電話：</td>
    <td><input type="text" name="mobile" id="mobile" /></td>
  </tr>
  <tr>
    <td align="right">電子郵件：</td>
    <td colspan="3"><input name="email" type="text" id="email" size="60" /></td>
    </tr>
  <tr>
    <td align="right">參訪時間：</td>
    <td colspan="3"><input type="text" name="visittime" id="visittime" /></td>
    </tr>
  <tr>
    <td align="right">參訪人數：</td>
    <td colspan="3"><input type="text" name="visitnum" id="visitnum" /></td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3"><input type="submit" name="Submit" id="Submit" value="送出" class="btnMedium"/> <input type="reset" name="button" id="button" value="重設" class="btnMedium"/></td>
    </tr>
</table>
</form>
</td></tr>
</table>
<p>&nbsp;</p>
