<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_3_1/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 早期療育中心</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 早療日托</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<div class="swipe" id="slider">
						&nbsp;</div>
					<p>
						<span style="font-size:20px;"><strong>服務目的：</strong></span></p>
					<p>
						為把握早期介入之黃金期，本園開設「早期療育中心」，服務設籍台中市，領有身心障礙證明或發展遲緩之0-6歲幼兒及其家庭。我們的服務理念是以家庭為中心，依照兒童發展的六大領域[認知、感官知覺、語言、動作、生活自理、社會適應]，提供日間整合性之療育服務，同時提供家庭及照顧者各項福利諮詢、喘息服務、親職教育、心理支持等家庭服務，以提升家庭親職功能。</p>
					<p class="paraHead">
						<span style="font-size:20px;"><strong>服務對象：</strong></span></p>
					<p>
						設籍台中市，領有身心障礙證明或發展遲緩之0-6歲幼兒。</p>
					<p class="paraHead">
						<span style="font-size:20px;"><strong>服務時間：</strong></span></p>
					<p style="box-sizing: border-box; margin: 0px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
						<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">&nbsp;</span></span></span><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;"><span style="box-sizing: border-box; background-color: rgb(211, 211, 211);">日間托育:&nbsp;</span>周一至周五上午9:00~下午3:30<span style="box-sizing: border-box; color: rgb(255, 0, 0);">(國定例假日比照公立小學辦理)</span></span></span></span></span></p>
					<p style="box-sizing: border-box; margin: 0px 0px 10px 80px; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
						<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;"><span style="box-sizing: border-box; background-color: rgb(211, 211, 211);">時段療育:</span>配合服務對象及其家庭需求安排<span style="box-sizing: border-box; color: rgb(255, 0, 0);">(含平日、晚間及假日)</span></span></span></span></span></p>
					<p>
						<span style="font-size:20px;"><strong>收費方式：</strong></span></p>
					<div>
						依內政部規定，依障礙等級收費。</div>
					<p class="paraHead">
						<span style="font-size:20px;"><strong>服務內容：</strong></span></p>
					<div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">1.提供兒童及家庭個別化服務計畫&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span></span></span></div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">2.運用合宜之教學法與策略，促進幼兒各項學習與生活適應能力</span></span></span></span></div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">3.培養幼兒有關藝術、音樂、運動等興趣之才藝陶冶</span></span></span></span></div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">4.以跨專業團隊合作模式，提供整合式早期療育服務</span></span></span></span></div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">5.提供融合轉銜服務，連結及建構社區資源網絡，拓展幼兒生活經驗</span></span></span></span></div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">6.提供家庭相關福利資源連結及家庭支持性服務(經濟、親職、心理、教養諮詢)</span></span></span></span></div>
						<div style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: Verdana, Geneva, sans-serif, 微軟正黑體; font-size: 14px;">
							<span style="font-size:18px;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 微軟正黑體;">7.提供時段療育服務(認知學習、語言治療、物理治療、職能治療、音樂治療)</span></span></span></span></div>
					</div>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 時段療育</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<div>
						1.認知學習</div>
					<div>
						2.語言治療</div>
					<div>
						3.物理治療</div>
					<div>
						4.職能治療</div>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 社區據點</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<div>
						<span style="font-size:16px;">&nbsp;1.大里社區療育據點 : 台中市大里區仁化路1033號 &nbsp; 電話04-24964313</span></div>
					<div>
						<span style="font-size:16px;">&nbsp;2.太平社區療育據點 : 台中市太平區新平路2段161號 &nbsp;電話04-22781006</span></div>
					<div>
						<span style="font-size:16px;">&nbsp;3.烏日社區療育行動據點 : 電話 0975-939610</span></div>
					<div>
						<span style="font-size:16px;">&nbsp;4.台中市兒童發展啟蒙資源中心 : 台中市北區民權路400號 &nbsp;電話04-22022226</span></div>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>