<link href="ckeditor/all.css" rel="stylesheet" type="text/css" />
<table align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td valign="bottom">
				<div align="right">
					<img alt="" src="images/1290046527.jpg" /></div>
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;</td>
		</tr>
		<tr>
			<td valign="top">
				<table align="right" border="0" width="97%">
					<tbody>
						<tr>
							<td>
								<p class="t01bold">
									認識心智障礙</p>
								<p class="t01">
									　　<span style="color: rgb(34, 34, 34);">根據美國智能不足協會之定義，心智障礙是指在發展期間〈自受胎到滿十八歲〉，智力功能顯著低於常態，同時伴隨有適應性行為方面的缺陷。當我們說一個人是心智障礙者時，就是說他在學科學習和處理日常生活以及對周圍事物的了解和環境的適應能力方面，比同年紀的同伴顯著的緩慢。</span></p>
								<p>
									心智障礙不是短暫的，而是一種終身而長期性的發展異常，他們在生活適應上：溝通、自我照顧、 居家生活、社交能力、使用社區、自我引導、健康及安全 功能性學科能力、休閒娛樂、工作，發生困難且較難主動的吸取適當的學習經驗。</p>
								<p>
									心智障礙者之間的差異很大，所以程度有輕度、中度、重度、極重度之分別，即使是同一類型的心智障礙也會有不同程度之分別。</p>
								<p>
									心智障礙者包括：神經系統構造及精神、心智功能缺損；聲音與言語構造及其功能缺損；神經、肌肉、骨骼之移動相關構造及其功能缺損&hellip;等原因而影響一個人在智力上與社會能力適應上的雙重缺陷。</p>
								<p>
									每一位心智障礙者的成因和能力程度都不一樣，彼此間差異也大，唯一能夠改善他們目前的障礙程度，發輝其潛能的方法是要靠有系統和細心規劃的個別學習計畫以及明確而實際的教導。因此他們需要各種不同型態的服務措施來配合個別的需要。</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="style5">
					&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>