<link href="Scripts/swipe.css" rel="stylesheet" />
<script>var slideDir='data/doc/menupics/menu3_3_2/';</script><script src="Scripts/swipe.js"></script><script src="micSlider.js"></script><table border="0" class="mainTable line1" width="90%">
	<tbody>
		<tr>
			<td height="80">
				<div class="pageTitleBG">
					<img align="absbottom" src="images/off.png" /> 寶寶啟蒙中心</div>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullr.gif" width="18" /> 服務目的：</td>
		</tr>
		<tr>
			<td>
				<div class="swipe" id="slider">
					&nbsp;</div>
				<blockquote>
					<p>
						把握0-3歲幼兒發展的黃金期，孩子需要父母的陪伴與支持。「瑪利寶寶啟蒙中心」推展家庭化中心式服務模式（home-like center-based model），在這裡有父母與早期療育治療師、老師一起陪伴，是孩子另一個快樂成長的家。讓我們共同支持有特殊需要的寶寶，藉由父母的參與、學習與成長，提昇親職效能，創造極早期療育的最大效益。</p>
					<p>
						&nbsp;</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullb.gif" width="18" /> 服務對象：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						0-3歳發展遲緩嬰幼兒(0-1歲以諮詢服務為主)。<br />
						(親子共同參與/ 父母一人陪同)<br />
						1. 領有身心障礙手冊<br />
						2. 領有發展遲緩證明</p>
				</blockquote>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullg.gif" width="18" /> 服務時間：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						上課期間：一期六個月</p>
					<p>
						上課班別：依專業團隊評估編班，分八小班(每班最多3對親子)。</p>
					<p>
						上課時間：A組: 星期一、三、五 上午 9:00~11:00</p>
					<p>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; B組: 星期二、四、五&nbsp;上午&nbsp;9:00~11:00</p>
				</blockquote>
			</td>
		</tr>
		<tr>
			<td class="pageTitle">
				<img height="18" src="images/bullp.gif" width="18" /> 服務內容：</td>
		</tr>
		<tr>
			<td>
				<blockquote>
					<p>
						每半年為一期，評估後確認是否繼續服務或轉銜</p>
					<p>
						&nbsp;一. 親子療育活動：</p>
					<p>
						&nbsp; &nbsp;專業人員配合幼兒發展，藉由粗大動作、精細動作、語言溝通、認知學習等 &nbsp; 領域活動參與，支持父母一起幫助孩子樂在學習、穩定成長。</p>
					<p>
						&nbsp;二. 家長成長課程及家長團體：</p>
					<p>
						&nbsp;&nbsp; 父母們一起學習嬰幼兒發展、親職互動與療育相關知能與資訊，藉由家長經 &nbsp; 驗分享、團體支持，提昇親職效能，成為孩子一生最有力的支持、陪伴者。</p>
					<p>
						&nbsp;三. 專業諮詢:</p>
					<p>
						&nbsp;&nbsp; 依需要安排專業人員在中心或居家，提供早期療育相關專業諮詢。</p>
					<p>
						四. 居家專業延伸服務：</p>
					<p>
						&nbsp;&nbsp; 依需求安排專業人員到家中訪視，指導主要照顧者運用居家環境延續服務成效。</p>
					<p>
						&nbsp;</p>
					<p>
						&nbsp;</p>
					<p>
						◎上課地點：台中市愛心家園(台中市南屯區東興路一段450號2F)</p>
					<p>
						◎報名方式：請洽04-24713535轉2705</p>
					<p>
						備註：1.本中心為親子課程，家長須有一名全程陪同</p>
					<p>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2.報名後依入中心程序接受相關評估 &nbsp;&nbsp;</p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>