@charset "utf-8";
/* CSS Document */
table.grid{  margin:10px;	border: 1px solid #ccc; border-collapse: collapse; width:97%;}
table.grid td {   border: 1px solid #999;	padding:5px;	font-size:12px;}
.divTitle{
	color:#fff;
	background-color:#900;
	border: 0px;
	padding: 3px;
	font-family:'微軟正黑體'; 
	font-size:14px;
	width:796px;
}
.divBorder1 { /* 內容區 第一層外框 */
	background-color:#f0f0f0;
	border:1px solid #CCC;
	padding:10px;
	margin:10px;
	
}
.divBorder2 { /* 內容區 第二層外框 */

	border:1px solid #CCC;
	background:#FFFFFF;
	font-size:12px;

}
.divTip{
	border: 0px;
	padding: 5px;
	margin: 3px;
	vertical-align:middle;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
}
.divTitle2{
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#000;
	background-color:#dedede;
}
.btn {
  width:30px;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #999;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
  cursor:pointer;
}
.btn:hover {
  background: #ccc;
  text-decoration: none;
}
.btnDisabled{
  width:60px;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  color: #fff;
  font-size: 12px;
  background: #999;
  padding:4px 7px 4px 5px;
  text-decoration: none;

}
.btn3 {
  width:60px;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #900;
  padding: 4px 7px 4px 5px;
  text-decoration: none;
}
.btn3:hover {
  background: #C00;
  text-decoration: none;
}