@charset "utf-8";
/* CSS Document */

.sTable {
	font-family: Verdana, "細明體";
	font-size: 12px;
	padding: 2px;
}
.more {
	font-size: 14px;
	font-weight: bold;
	color: #C72F3C;
	text-align:right;
	padding-right:1em;
}
.more A:link { COLOR: #C72F3C }
.more A:visited {	COLOR: #C72F3C}
.more A:hover {	COLOR: #ff9900}

.date {
	color: #C72F3C;
	width: 80px;
	vertical-align:text-top;
}
#div_newsImg{
	float:left;
	border-color:#f5cfc6;
	border-style:solid;
	border-width:8px;
}
.hdCell {
	font-size: 15px;
	color: #FF00FF;
	height: 20px;
	font-weight: bold;
}
.hd2Cell {
	background-color: #FDF4D9;
	height: 12px;	
}
.cell { font-size: 12px; line-height:20px; vertical-align:text-top; }
.cell A, .more A { text-decoration:none }
.cell A:link { COLOR: #333333 }
.cell A:visited {	COLOR: #333333}
.cell A:hover {	COLOR: #ff9900}
