@charset "utf-8";

.formTx {
	font-family: "微軟正黑體", Verdana;
	font-size: 12px;
}
.formTxS { font-size:smaller}
.queryID {
	/* */
}
.queryID_img {
	padding-left: 1px;
	padding-bottom: 2px;
	padding-right: 2px;
	cursor:pointer;
	vertical-align: bottom;
}
.queryDate {
	
}
.readonlyField {
	background-color: #DDD;
}
