.swipe {
	float:right;
	padding: 0 0 0 10px;
	width: 330px;
  position:relative;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe ul { margin:0; padding:0; border:0; outline:0; }
.swipe li div, .swipe div div div {
  margin:0 10px;
  padding:0px;
  background:#1db1ff;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}
.swipepic{ width:320px; border:0 }