<div>
	{applier} 單位您好：</div>
<div>
	一、感謝您借用本園場地辦理研習，經審核後<span style="color:red">【已核定通過申請】</span>。</div>
<br />
<div>
	二、貴單位租借內容簡述如下：<br />
	　　　借用單號：{id}<br />
	　　　借用時間：{bDate} ~ {eDate}<br />
	　　　借用場地：{placeName}<br />
	　　　活動名稱：{title}<br />
	　　　承 辦 人：{leadman}<br />
	　　　手　　機：{mobile}<br />
	　　　價　　格：{price}<br />
	　　　優惠折扣：{fold}　折<br />
	　　　備　　註：{statusNote}
</div>
<br />
<div>
	三、租借單位請務必詳閱本園申請表內之<span style="color:red">「場地租借共同遵守同意書」</span>及<br />
	　　以下<span style="color:red">相關注意事項</span>，若未能配合或經舉發違規者，本園將列為評估單位，<br />
	　　必要時將暫時關閉線上申請之功能，以維護場地租借品質。</div>
<div>
	&nbsp;</div>
<div>
	四、若有需訂購本園便當或餐盒，請於活動三日前，電洽分機1188預訂。</div>
<div>
	&nbsp; &nbsp; &nbsp; &nbsp;（假日不受理便當預訂)</div>
<div>
	＊＊＊【<span style="color:#ff0000;">相關注意事項</span>】＊＊＊<br />
	　　1.禁止在園內進行以下行為，必要時將即時終止該團體之借用：<br />
	　　　1-1.進行任何非法、有違公眾安全或與本園研習性質抵觸之行為。<br />
	　　　1-2.進行任何未經本園同意之銷售、收費或籌款活動。<br />
	　　　1-3.進行任何活動對其他租借使用者造成屬實之干擾行為。<br />
	　　　1-4.派發未經本會同意之傳單或刊物。<br />
	　　　1-5.吸煙、飲酒、攜帶寵物..等行為。<br />
	　　　1-6.未經同意進行用火、用電或膳食安排&hellip;等。<br />
	　　2.防疫期間，須配合本園防疫規定及指引。<br />
	　　3.租借場地使用若要取消，<span style="color:#ff0000;">自登記日起7日內可線上預約取消</span>(<span style="background-color:#ffff00;">須輸入借用單號</span>)；</div>
<div>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 逾期，則須電洽本園承辦人辦理。<br />
	&nbsp; &nbsp; &nbsp; &nbsp;4.已核准租借單位，<span style="background-color:#ffff00;">未如期使用亦未辦理取消</span>，或於<span style="background-color:#ffff00;">活動日前七日內才辦理取消者</span>，</div>
<div>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 本園將視情節狀況，必要時同第三點辦理。</div>
<br />
<div>
	<span style="color:red">＊＊場地租借若有相關疑問或問題，洽詢電話:04-24713535分機1307蔡先生＊＊</span></div>
