<p>管理者 您好!</p>
<p>{applier} 單位取消了場地借用</p>
<p>借用單號為 {id}</p>

<p>聯絡人 : {contactman} </p>
<p>手　機 : {mobile} </p>
<p>E-mail : {email} </p>
<p>活動名稱 : {title} </p>
<p>借用場地 : {placeName} </p>
<p>借用時間 : {bDate} ~ {eDate} </p>