<p>管理者 您好!</p>
<p>{id}</p>
<p>{applier} 單位新增了場地借用單</p>
<p>聯絡人 : {contactman} </p>
<p>手　機 : {mobile} </p>
<p>E-mail : {email} </p>
<p>活動名稱 : {title} </p>
<p>借用場地 : {placeName} </p>
<p>借用時間 : {bDate} ~ {eDate} </p>
<p>備註 : {UserNote} </p>
